@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
 }

 .church{
   background-color:red;
   height: 750px;
   width: 1440px;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}


.box {
  width: 750px;
  height: 550px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;

}

 .dioeses{
   background-color: dodgerblue;
   width: 300px;
   height: 540px;
   font-size: 25px;
   display: flex;
   flex-direction: column;
   padding: 20px;
   border-radius: 10px;
   margin: auto 5px;
   background-image: url(/assets/images/bg-sidebar-desktop.svg);
 }

 .selector {
  display: flex;
 }

 .step {
  display: inline;
  display: block;
  margin: auto 5px;
 }

 .step a {
  text-decoration: none;
  color: white;
 }

 form{
   background-color: #ffff;
   /* text-align: center; */
   justify-content: center;
   height: 530px;
   width: 430px;
   display: flex;
   flex-direction: column;
   /* padding: 20px; */
   border: none;
 }

 .items{
  margin: 10px;
  height: 35px;
  width: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  border: 1px solid white;
 }

 .items-c{
  background-color: aqua;
}

 span,p{
  text-indent: 50px;
  /* text-align: justify; */
 }

 button{
  background-color: rgb(100, 105, 199);
  margin: 0 70% 10px;
  width: 80px;
  height: 30px;
  border-radius: 7px;
 }

 button a{
  text-decoration: none;
  color: white; 
 }

 h3{
  text-indent: 75px;
  font-size: 20px;
  color: rgb(155, 133, 155);
 }

 input{
  height: 30px;
  width: 250px;
  border-radius: 8px;
  margin: 0 15px;
  justify-content: space-between;
 }

 label{
  margin: 0 15px;
 }
 fieldset{
  text-decoration: none;
  border: none;
 }


 